<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freshworks.rts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name=".RTSContentProvider"
            android:authorities="${applicationId}.RTSContentProvider"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>